@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("cursor.svg"), auto;
}
html,
body {
  height: 100%;
  font-family: "Inter", sans-serif;
  overscroll-behavior: none;
  cursor: url("cursor.svg"), auto;
}
button {
  cursor: url("cursor.svg"), auto;
}
